asgiref==3.11.1
dj-database-url==3.1.2
Django==5.1.3
django-admin-interface==0.32.0
django-colorfield==0.14.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
psycopg2-binary==2.9.12
python-decouple==3.8
python-slugify==8.0.4
PyJWT==2.13.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
openai==2.41.1
pillow==12.2.0

# Dépendances ML (versions compatibles avec ton modèle)
numpy==1.26.4
pandas==1.5.3
scikit-learn==1.8.0
joblib==1.3.2
